!pip install docx
!pip install PyPDF2
!pip install python-docx
!pip install pdfplumber
!pip install nltk
!pip install torch
#1
import pandas as pd
import glob
import re
import os
from docx import Document
import numpy as np
import PyPDF2
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import nltk
from nltk.corpus import stopwords
from joblib import Parallel, delayed
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
